<p id="notice"><%= notice %></p>

<nav class="navbar navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<div class="navbar-item">
			<img src="https://storage.cloud.google.com/recordings-20200304123126/icons8-dog-64.png?folder&organizationId" alt="UCLA" width="30" height="30">
		</div>
		<audio controls id="myAudio">
			<source src="<%= url_for( @event.recording ) %>" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
	</div>
  <span>&nbsp;&nbsp;</span>
  <button class="button is-primary" id='zoom'>Find Place</button>

</nav>

<section class="column is-6 is-offset-3">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Case:</strong>
	  <%= @event.case_id %>
	</p>

	<p>
	  <strong>Title:</strong>
	  <%= @event.title %>
	</p>

	<p>
	  <strong>Transcription Status:</strong>
	  <%= @event.transcript_status %>
	</p>

	<p>
	  <strong>Transcript:</strong>
	  <%= @event.transcript.html_safe %>
	</p>

	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%= link_to 'Back', events_path %>
</section>
